.encryption,
.decryption {
    margin: 1rem auto 0;
    max-width: 50rem;
    padding: 1.9rem;
    background-color: var(--color-primary);
    box-shadow: 0 0 1rem var(--color-shadow);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 91.5vh;
}

.encryption h2,
.decryption h2 {
    text-align: center;
    color: var(--color-accent);
    margin-bottom: 2rem;
}

.directive {
    margin-bottom: 2.5rem;
    color: var(--color-accent);
    text-align: justify;
}

.security-key-form {
    background-color: var(--color-primary);
    padding: 1.25rem;
    box-shadow: 0 0 0.65rem var(--color-shadow);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* So the eye icon stays inside the form*/
}

.security-key-form p {
    color: var(--color-accent);
}

.security-key {
    width: 100%;
    padding: 0.75rem;
    border: 0.125rem solid var(--color-accent);
    border-radius: 0.38rem;
    font-size: 1.15rem;
    text-align: center;
    color: var(--color-accent);
    outline: none;
    background-color: var(--color-primary);
}

.mask-toggle-button {
    position: absolute; /* Stay inside form */
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-accent); 
    font-size: 1.2rem;
}

.encryption .Toastify__toast {
    background-color: var(--color-dark) !important;
    color: var(--color-accent) !important;
}

.Toastify__close-button {
    color: var(--color-tint) !important; 
}

.Toastify__close-button:hover {
    color: var(--color-dark) !important;
}

@media screen and (max-width: 850px) {
    .encryption,
    .decryption {
        width: 90%;
    }

    .encryption h2,
    .decryption h2 {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 601px) {
    .encryption,
    .decryption {
        margin: 5rem auto 0;  
    }   
}

@media screen and (max-width: 600px) {
    .encryption h2,
    .decryption h2 {
        font-size: 1.2rem;
    }  
}

@media screen and (max-width: 500px) {
    .encryption h2,
    .decryption h2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 450px) {
    .security-key-form {
        padding-left: -2rem;
        padding-right: -2rem;
    }
}

@media screen and (max-width: 400px) {
    .encryption h2,
    .decryption h2 {
        font-size: 1rem;
    }

    .directive {
        font-size: 1rem;
    }

    .security-key-form {
        padding-left: -1rem;
        padding-right: -1rem;
    }

    .mask-toggle-button {
        top: 48.5%;
    }
}

@media screen and (max-width: 377px) {
    .encryption h2,
    .decryption h2 {
        font-size: 0.9rem;
    }

    .directive {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 345px) {
    .encryption h2,
    .decryption h2 {
        font-size: 0.8rem;
    }

    .directive {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 315px) {
    .encryption h2,
    .decryption h2 {
        font-size: 0.7rem;
    }

    .directive {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 284px) {
    .encryption h2,
    .decryption h2 {
        font-size: 0.6rem;
    }

    .directive {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 353px) {
    .mask-toggle-button {
        top: 49%;
    }
}

@media screen and (max-width: 352px) {
    .security-key-form p {
        display: none;
    }

    .mask-toggle-button {
        top: 29%;
    }
}

@media screen and (max-width: 350px) {
    .mask-toggle-button {
        top: 31%;
        font-size: 1.1rem;
    }
}