* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #222; /* background */
    --color-dark: #111; /* background undertone */
    --color-light: #555; /* hover and directives background */
    --color-white: #EDECE6; /* text color */
    --color-accent: #00b87b; /* button color */
    --color-tint: #00ffaa; /* active color */
    --color-shadow: rgba(0, 184, 122, 0.3); /* surface border */
    --color-shadow-dark: rgba(0, 0, 0, 0.3);

    --toastify-icon-color-success: var(--color-accent) !important; 
    --toastify-color-progress-success: var(--color-tint) !important;
    --toastify-color-success: var(--color-accent) !important;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--color-shadow); /* color of the thumb */
}

/* Style the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-accent); /* color of the thumb on hover */
}

/* Style the scrollbar track when hovered */
::-webkit-scrollbar-track {
    background-color: var(--color-light); /* color of the track */
}

/* Style the scrollbar track when the thumb is being dragged */
::-webkit-scrollbar-thumb:active {
    background-color: var(--color-accent); /* color of the thumb when active */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
}

p {
    line-height: 2rem;
    font-size: 1.1rem;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
}

.primary-button {
    padding: 0.75rem 1.5rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: var(--color-tint);
    transform: scale(1.05); /* Magnification effect */
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    p {
        line-height: 1.9rem;
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    .primary-button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    p {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1rem;
    }

    .primary-button {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}